{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Receitas</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'site.css' %}"
</head>
<body>
    <h1>Gerenciador de receitas</h1>
    <h2>Seja bem vindo!</h2>

    <table>
        <thead>
            <tr>
                <th>Nome da receita</th>
                <th>Ingredientes</th>
                <th>Modo de preparo</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Suco verde</td>
            <td>Folhas verdes, 1 maçã, 1 cenoura</td>
            <td>Bata tudo no liquidificador</td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Lista de receitas</th>
            </tr>
        </tfoot>
    </table>

    <!-- SCRIPTS -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <script src="{% static 'js/active.js' %}"></script>
</body>
</html>